{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>News</h2>

    <section>
      <h3>Registration is open</h3>

      <p>
        Registration for the PyConFR 2025 is <a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">open</a>!
      </p>
      <p>
        Even if the event is free, registration is mandatory.
      </p>
      <p>
        A free <a href="{{ url_for('page', name='schedule', lang=lang) }}#children-area">area for chidren</a>
        from 3 years old to 12 years old is available on Saturday and Sunday, upon registration.
      </p>
      <p>
        You can also book a t-shirt and register for the <a href="{{ url_for('page', name='schedule', lang=lang) }}#dinner">Saturday dinner</a>.
      </p>
      <p>
        Also, the general assembly of the association will take place on Sunday morning.
        Don’t forget to have your <a href="https://www.helloasso.com/associations/afpy/adhesions/adhesion-2025-a-l-afpy">membership</a> up to date if you want to vote.
      </p>
      <p>
        Schedule will be available during September!
      </p>
    </section>

    <section>
      <h3>CFP and Financial Assistance Openings</h3>

      <p>
        The PyConFR 2025 <a href="https://cfp.pycon.fr/pyconfr-2025/cfp">CFP (Call For Proposal)</a> is now open!
      </p>
      <p>
        The CFP allows you to propose your topics for sprints, conferences and workshops.
      </p>
      <p>
        <strong>You can submit your proposals until July 20, 2025</strong>. At the end of
        the open period, AFPy Steering Committee members will review all
        proposals and the timetable can be put together!
      </p>
      <p>
        You can propose topics in French or English. As AFPy promotes
        the Python language to the French-speaking community, we are
        keen to keep the majority of the program in French (~75/80%).
      </p>
      <p>
        Following feedback from the previous edition, you can indicate
        the level of the target audience for your proposals, as well as
        the language in which you will be presenting. This will enable
        us to include the information in the program and avoid any
        disappointments :).
      </p>

      <p>
        As we do every year, we're offering financial assistance to help
        students and people who can't afford to come to PyConFR.
      </p>
      <p>
        You can apply by e-mail to our treasurer
        (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>). Please see the <a href="{{ url_for('page', name='financial', lang=lang) }}">Financial Assistance</a>
        page for details of how to apply.
      </p>
      <p>
        <strong>Applications are open until September 30, 2025</strong>.
      </p>

      <p>
        ⚠️ After these dates, we will no longer accept subject
        proposals or financial assistance applications.
      </p>
    </section>

    <section>
      <h3>PyConFR 2025</h3>

      <p>
        The 2025 edition of the francophone community's conference on Python will
        be held in Lyon from October 30<sup>th</sup> to November
        2<sup>nd</sup> 2025.
      </p>

      <p>
        The first two days are reserved for participative coding sessions. Developers
        from different open source projects come to code together. Everyone is welcome
        to contribute, and we seek to guide beginners. We provide the space and
        environment (tables, chairs, internet connection... and coffee!). Represented
        projects will be announced on our site as they register.
      </p>

      <p>
        During the two following days, you will have the opportunity to attend
        presentations on various topics, about the Python programming language, its use
        cases, good practice, feedback, shared ideas…
      </p>

      <p>
        This event is hosted by the Campus René Cassin. Thanks to them :).
      </p>

      <p>
        We ask everyone wishing to come to read the
        <a href="{{ url_for('page', name='conduct', lang=lang) }}">code of conduct</a>.
        We want this conference to be a welcoming event for
        everyone. AFPy working group is mobilized to make everyone feel good
        during the conference. Actions will be announced.
      </p>

      <p>
        If you already want to organize your journey, we have prepared the
        <a href="{{ url_for('page', name='venue', lang=lang) }}">Venue</a> page.
      </p>

      <p>
        We have several other announcements for you in the coming weeks, so
        follow us on <a href="https://mamot.fr/@AFPy">Mastodon</a>.
      </p>

      <p>
        Come and chat with us on our <a href="https://www.afpy.org/discord">Discord</a> or our <a href="https://discuss.afpy.org/">Discourse</a>.
      </p>
    </section>
  </article>
{% endblock content %}
